{% load static %}
        <!--making navigation bar consist of logo and menu links-->
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="RedStore logo" width=125px></a>
            </div>

            <!--menu-->
             <nav> 
                <ul id="MenuItems"><!--use this id in js-->                   
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "list_products" %}">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                </ul>
            </nav>
            <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" alt="cart" width=30px height=30px></a><!--adding cart image in navigation section -->
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()"><!--this is the menu icon which  will be displayed on smaller screens with 3 lines, and when we click on it, it will open upside down or like dropdown menu, to open like this we have pass one menutoggle function to it which we have written in the end in js-->
        </div>